---
const { translate: t } = Astro.locals

interface Props {
  showLeft?: boolean
  leftTitle?: string
  leftUrl?: string

  showRight?: boolean
  rightTitle?: string
  rightUrl?: string

  showPageCount?: boolean
  currentPage?: number
  totalPage?: number
}

const {
  showLeft = true,
  showRight = true,
  leftTitle,
  rightTitle,
  leftUrl,
  rightUrl,
  showPageCount = true,
  currentPage,
  totalPage,
} = Astro.props
---

<footer class="mt-5">
  {
    showPageCount && (
      <div class="mb-2.5">
        {t('page_number', currentPage)} / {t('page_count', totalPage)}
      </div>
    )
  }
  <div class="flex items-center gap-2">
    {
      showLeft && (
        <a title={leftTitle} href={leftUrl}>
          <span class="inline-block vertical-mid i-mdi-chevron-double-left w-4 h-4" />
          {leftTitle}
        </a>
      )
    }
    {
      showRight && (
        <a title={rightTitle} href={rightUrl}>
          {rightTitle}
          <span class="inline-block vertical-mid i-mdi-chevron-double-right w-4 h-4" />
        </a>
      )
    }
  </div>

  <div style="
  max-width: 420px;
  margin: 25px 0;
  padding: 15px 20px;
  background-color: #262626;
  color: #f1f1f1;
  border: 1px solid #ff0080;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
">
⚠️ Reminder! The original 
  <strong style="color: #ffdbfc;">Dablock</strong> 
  portal and its content have been migrated to the domain
  <a 
    href="https://polkadotecosystem.com"
    target="_blank"
    rel="noopener noreferrer"
    style="
      color: #ff0080;
      text-decoration: none;
      font-weight: bold;
    "
  >
    polkadotecosystem.com</a>.
</div>
</footer>
